*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

:root {
  --bg: hsl(0, 0%, 98%);
  --bg-offset: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --gray: hsl(0, 0%, 52%);
  --border: rgba(0, 0, 0, 0.1);
}

ul,
ol {
  list-style: none;
}

body {
  background: var(--bg);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

.proje-title {
  text-align: center;
  margin-top: 48px;
  color: #0e59a4;
}

.wrapper {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}

.DateInput_input {
  width: 75% !important;
}



